doctype html 
html 
    head 
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="icon" type="image/icon" href="../public/image/favcon.ico">
        title Weather App
        style
            include ../public/style.css

        <script src="https://kit.fontawesome.com/f7148541f3.js" crossorigin="anonymous"></script>
    body 


        div.container
            h4 
                if(msg)
                    ms= msg

            form(action="/" method="get" class="form") 
                input(type="text" class="input" name="input" placeholder="Enter location")
                button.btn &rarr;

            div.box
                div.wave.-one
                div.wave.-two
                div.wave.-three

                div#weathercon 
                    | #{tempStatus}

                div.info
                    h2.location 
                        i.fas.fa-street-view 
                        | #{location}, #{country}

                    p#date -- | -- | --
                    h1.temp #{tempval}&deg;C 
                    h3.tempmin_max 
                        | Min #{tempmin} &deg;C | Max #{tempmax} &deg;C 

        script(src="../public/script.js") 
